{% extends 'base.html' %} {% block title %}Admin{% endblock %} {% block body %}
<div class="container my-2 shadow">
  <h1 class="display-1 textcenter text-primary">Student</h1>
  {% if allstudents|length!=0 %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Course</th>
        <th>E-mail</th>
        <th>Phone No</th>
        <th>username</th>
        <th>password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for student in allstudents %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{student.Fname}}</td>
        <td>{{student.Lname}}</td>
        <td>{{student.Course}}</td>
        <td>{{student.email}}</td>
        <td>{{student.PhoneNo}}</td>
        <td>{{student.username}}</td>
        <td onClick='show("{{student.password}}",event)'>........</td>
        <td>
          <a href="/delete_user/{{student.id}}" class="btn btn-danger"
            >Delete</a
          >
          <a href="/update_user/{{student.id}}" class="btn btn-primary"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1 class="display-1 text-danger">There is not a student</h1>
  {% endif %}
</div>
<div class="container my-2 shadow">
  <h1 class="display-1 textcenter text-primary">Teacher</h1>
  {% if allteachers|length!=0 %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Course</th>
        <th>E-mail</th>
        <th>Phone No</th>
        <th>username</th>
        <th>password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in allteachers %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{teacher.Fname}}</td>
        <td>{{teacher.Lname}}</td>
        <td>{{teacher.Course}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.PhoneNo}}</td>
        <td>{{teacher.username}}</td>
        <td onClick='show("{{teacher.password}}",event)'>........</td>
        <td>
          <a href="/delete_user/{{teacher.id}}" class="btn btn-danger"
            >Delete</a
          >

          <a href="/update_user/{{teacher.id}}" class="btn btn-primary"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1 class="display-1 text-danger">There is not a teacher</h1>
  {% endif %}
</div>
<script>
  show = (password, event) => {
    if (event.target.innerText == "........") event.target.innerText = password;
    else event.target.innerText = "........";
  };
</script>
{% endblock %}
