{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block body
%}
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card p-4 shadow">
        <h2 class="text-center font-weight-bold mb-4">Register</h2>

        <form
          action="/register"
          method="post"
          class="needs-validation"
          novalidate
        >
          <div class="d-flex flex-row justify-content-between px-2">
            <label class="text-primary fs-3" for="student" id="stlabel"
              >Student</label
            >
            <label class="text-secondary fs-3" for="teacher" id="teclabel"
              >Teacher</label
            >
            <input
              type="radio"
              name="role"
              id="student"
              value="Student"
              style="display: none"
              checked
              onchange="changeRole('Student')"
            />
            <input
              type="radio"
              name="role"
              id="teacher"
              value="Teacher"
              style="display: none"
              onchange="changeRole('Teacher')"
            />
          </div>
          <div class="form-group">
            <div class="col-md-full">
              <label for="validationCustomUsername" class="form-label"
                >Username</label
              >
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustomUsername"
                  aria-describedby="inputGroupPrepend"
                  placeholder="Username..."
                  name="username"
                  readonly
                  required
                />
                <div class="invalid-feedback">Please enter your username.</div>
              </div>
              <div class="text-secondary text-center mt-2 fs-10">
                You must remember the username.
              </div>
            </div>
            <div class="col-md-full">
              <label for="user_id" class="form-label"
                ><span class="role">Student</span> ID</label
              >
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"
                  ><i class="fa-solid fa-key" style="color: #000000"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  id="user_id"
                  aria-describedby="inputGroupPrepend"
                  placeholder="Student ID..."
                  name="user_id"
                  required
                  maxlength="6"
                  oninput="updateUsername()"
                />
                <div class="invalid-feedback">
                  Please enter your <span class="role">Student</span> ID.
                </div>
              </div>
            </div>
            <div class="col-md-full">
              <label for="validationCustomName" class="form-label"
                >Firstname</label
              >
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"
                  ><i class="fa-solid fa-user-large"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustomName"
                  aria-describedby="inputGroupPrepend"
                  placeholder="Firstname..."
                  name="Fname"
                  required
                  oninput="updateUsername()"
                />

                <div class="invalid-feedback">Please enter your name.</div>
              </div>
            </div>
            <div class="col-md-full">
              <label for="Lastname" class="form-label">Lastname</label>
              <div class="input-group has-validation">
                <input
                  type="text"
                  class="form-control"
                  id="Lastname"
                  aria-describedby="inputGroupPrepend"
                  placeholder="Lastname..."
                  name="Lname"
                  oninput="updateUsername()"
                />

                <div class="invalid-feedback">Please enter your Lastname.</div>
              </div>
            </div>
            <div class="col-md-full">
              <label for="user_email" class="form-label">E-mail</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"
                  ><i class="fa-solid fa-envelope" style="color: #000000"></i
                ></span>
                <input
                  type="email"
                  class="form-control"
                  id="user_email"
                  aria-describedby="inputGroupPrepend"
                  placeholder="E-mail..."
                  name="email"
                  required
                />

                <div class="invalid-feedback">Please enter a valid e-mail.</div>
              </div>
            </div>
            <div class="col-md-full">
              <label for="user_PhoneNO" class="form-label">Phone no</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"
                  ><i class="fa-solid fa-phone" style="color: #000000"></i
                ></span>
                <input
                  type="tel"
                  class="form-control"
                  id="user_PhoneNO"
                  aria-describedby="inputGroupPrepend"
                  placeholder="Phone No..."
                  name="phoneno"
                  required
                  oninput="formatPhoneNumber()"
                />

                <div class="invalid-feedback">
                  Please enter a valid Phone Number.
                </div>
              </div>
            </div>
            <div class="col-md-full">
              <label for="user_course" class="form-label"
                >Couse <span id="role_work">Studying</span></label
              >
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"
                  ><i
                    class="fa-solid fa-graduation-cap"
                    style="color: #000000"
                  ></i
                ></span>
                <select
                  class="form-select"
                  id="user_course"
                  required
                  name="Course"
                  aria-label="select example"
                >
                  <option value="">Select Course</option>
                  <option value="BS-IT">BS-IT</option>
                  <option value="BS-SE">BS-SE</option>
                  <option value="BS-CS">BS-CS</option>
                </select>
                <div class="invalid-feedback">Select a course.</div>
              </div>
            </div>

            <label for="inputPassword" class="form-label">Password</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password..."
                aria-describedby="passwordHelpBlock"
                required
                minlength="8"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                onclick="togglePasswordVisibility('inputPassword')"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <div class="invalid-feedback">
                Password must be at least 8 characters long.
              </div>
            </div>
            <label for="inputPasswordConfirm" class="form-label"
              >Confirm Password</label
            >
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                id="inputPasswordConfirm"
                class="form-control"
                placeholder="Confirm Password..."
                aria-describedby="passwordHelpBlock"
                required
                name="password"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                onclick="togglePasswordVisibility('inputPasswordConfirm')"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <div class="invalid-feedback">Please enter password again.</div>
            </div>
            <div id="passwordMismatch" class="invalid-feedback">
              <!-- Error message for password mismatch -->
            </div>

            <div class="d-flex flex-row justify-content-center mt-3">
              <button type="submit" class="btn btn-outline-success">
                Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);
    const button = passwordInput.nextElementSibling;

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      button.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
    } else {
      passwordInput.type = "password";
      button.innerHTML = '<i class="fa-solid fa-eye"></i>';
    }
  }

  function formatPhoneNumber() {
    const phoneInput = document.getElementById("user_PhoneNO");
    let phoneNumber = phoneInput.value.replace(/[^0-9]/g, ""); // Remove non-numeric characters
    if (phoneNumber.length > 0) {
      phoneNumber = phoneNumber.match(/(\d{0,4})(\d{0,7})/);
      phoneInput.value = !phoneNumber[2]
        ? phoneNumber[1]
        : phoneNumber[1] + "-" + phoneNumber[2];
    }
  }

  function updateUsername() {
    let student = document.getElementById("student");
    let teacher = document.getElementById("teacher");
    let role = "";
    if (student.checked) {
      role = "student";
    } else if (teacher.checked) {
      role = "teacher";
    }

    const nameInput = document.getElementById("validationCustomName");
    const userIdInput = document.getElementById("user_id");
    const lastNameInput = document.getElementById("Lastname");
    const usernameInput = document.getElementById("validationCustomUsername");

    // Remove alphabetical characters from the id and trim spaces
    const cleanedId = userIdInput.value.replace(/[^0-9]/g, "").trim();
    userIdInput.value = cleanedId;

    // Remove non-alphabetical characters from the name and trim spaces
    const cleanedName = nameInput.value.replace(/[^a-zA-Z ]/g, "").trim();
    nameInput.value = cleanedName;

    // Remove non-alphabetical characters from the last name and trim spaces
    const cleanedLastName = lastNameInput.value
      .replace(/[^a-zA-Z ]/g, "")
      .trim();
    lastNameInput.value = cleanedLastName;

    // Generate the username with spaces
    const username =
      role + "_" + cleanedName.toLowerCase() + `_${userIdInput.value}`;

    // Update the username input
    usernameInput.value = username;
    if (cleanedName === "") usernameInput.value = "";
  }

  function changeRole(role) {
    const roleSpan = document.querySelector(".role");
    const roleWorkSpan = document.getElementById("role_work");
    let stlabel = document.getElementById("stlabel");
    let teclabel = document.getElementById("teclabel");
    let idInput = document.getElementById("user_id");
    roleSpan.textContent = role;
    roleWorkSpan.textContent = role === "Student" ? "Studying" : "Teaching";
    if (role === "Student") {
      teclabel.classList = "text-secondary fs-3";
      stlabel.classList = "text-primary fs-3";
      idInput.placeholder = "Student ID...";
    } else if (role === "Teacher") {
      stlabel.classList = "text-secondary fs-3";
      teclabel.classList = "text-primary fs-3";
      idInput.placeholder = "Teacher ID...";
    }
    updateUsername();
  }
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          const passwordInput = document.getElementById("inputPassword");
          const confirmPasswordInput = document.getElementById(
            "inputPasswordConfirm"
          );
          const passwordError = document.getElementById("passwordMismatch");

          // Check if passwords match
          if (passwordInput.value != confirmPasswordInput.value) {
            passwordError.textContent = "Passwords don't match.";
            passwordError.style.display = "block";
            document.querySelector("#inputPasswordConfirm").value = "";
            event.preventDefault();
            event.stopPropagation();
          } else {
            passwordError.textContent = "";
          }

          // Check if form is valid
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
{% endblock %}
